:root {
  --body-text-font-family: "Barlow-Light", Helvetica;
  --body-text-font-size: 16px;
  --body-text-font-style: normal;
  --body-text-font-weight: 300;
  --body-text-large-font-family: "Barlow-Regular", Helvetica;
  --body-text-large-font-size: 18px;
  --body-text-large-font-style: normal;
  --body-text-large-font-weight: 400;
  --body-text-large-letter-spacing: 0.27px;
  --body-text-large-line-height: 24px;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: 25px;
  --button-cta-fill: rgba(0, 0, 0, 1);
  --button-cta-text: rgba(255, 255, 255, 1);

  --dark-blue: rgba(46, 71, 122, 1);
  --heading-2-font-family: "Barlow-Medium", Helvetica;
  --heading-2-font-size: 24px;
  --heading-2-font-style: normal;
  --heading-2-font-weight: 500;
  --heading-2-letter-spacing: -0.36px;
  --heading-2-line-height: 36px;
  --heading-3-font-family: "Barlow-Medium", Helvetica;
  --heading-3-font-size: 20px;
  --heading-3-font-style: normal;
  --heading-3-font-weight: 500;
  --heading-3-letter-spacing: 0px;
  --heading-3-line-height: 30px;

  --heading-font-family: "Barlow-Bold", Helvetica;
  --heading-font-size: 36px;
  --heading-font-style: normal;
  --heading-font-weight: 700;
  --heading-letter-spacing: -0.54px;
  --heading-line-height: 44px;
  --neutral-gray-3: rgba(217, 217, 217, 1);

  --primary-color: rgba(220, 228, 244, 0.5);

}
