.header {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0px 80px;
  position: relative;
  width: 1440px;
}

.header .nav-bar {
  align-items: baseline;
  display: flex;
  gap: 40px;
  padding: 10px 0px;
  position: relative;
  width: fit-content;
}

<<<<<<< HEAD
.header .text-wrapper-2 {
  color: #000000;
  font-family: var(--body-text-large-font-family);
  font-size: var(--body-text-large-font-size);
  font-style: var(--body-text-large-font-style);
  font-weight: var(--body-text-large-font-weight);
  letter-spacing: var(--body-text-large-letter-spacing);
  line-height: var(--body-text-large-line-height);
=======
.header .text-wrapper-5 {
  color: #000000;
  font-family: "Barlow", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.27px;
  line-height: 24px;
>>>>>>> dev
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
