.author-info-comment {
  align-items: center;
  display: flex;
  gap: 12px;
  position: relative;
  width: fit-content;
}

.author-info-comment .frame-3 {
  align-items: center;
  display: flex;
  position: relative;
  width: fit-content;
}

.author-info-comment .author {
  color: #000000;
  font-family: var(--heading-3-font-family);
  font-size: var(--heading-3-font-size);
  font-style: var(--heading-3-font-style);
  font-weight: var(--heading-3-font-weight);
  letter-spacing: var(--heading-3-letter-spacing);
  line-height: var(--heading-3-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.author-info-comment .element-hours-ago-2 {
  color: #000000;
  font-family: var(--body-text-large-font-family);
  font-size: var(--body-text-large-font-size);
  font-style: var(--body-text-large-font-style);
  font-weight: var(--body-text-large-font-weight);
  letter-spacing: var(--body-text-large-letter-spacing);
  line-height: var(--body-text-large-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.author-info-comment .avatar-15 {
  height: 40px !important;
  min-width: 40px !important;
  position: relative !important;
}
