.diamond-tofu-logo-wrapper {
  align-items: center;
  display: flex;
  gap: 14px;
  position: relative;
  width: fit-content;
}

.diamond-tofu-logo-wrapper .logo-instance {
  height: 33.57px !important;
  left: unset !important;
  margin-bottom: -1.77px !important;
  margin-left: -1.81px !important;
  margin-top: -1.81px !important;
  min-width: 36.57px !important;
  position: relative !important;
  top: unset !important;
  width: unset !important;
}

.diamond-tofu-logo-wrapper .DIAMOND-tofu-2 {
  color: #ffffff;
  font-family: "Futura-Medium", Helvetica;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  width: 268px;
}

.diamond-tofu-logo-wrapper .text-wrapper-6 {
  font-weight: 500;
}

.diamond-tofu-logo-wrapper .text-wrapper-7 {
  font-family: "Comfortaa", Helvetica;
}
