.xnix-line-glasses {
  height: 24px;
  width: 24px;
}

.xnix-line-glasses .vector-11 {
  height: 8px;
  left: 5px;
  position: relative;
  top: 8px;
  width: 14px;
}

.xnix-line-glasses .overlap-group-4 {
  height: 10px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 15px;
}

.xnix-line-glasses .vector-12 {
  height: 8px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 8px;
}

.xnix-line-glasses .vector-13 {
  height: 8px;
  left: 8px;
  position: absolute;
  top: 2px;
  width: 8px;
}

.xnix-line-glasses .vector-14 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}
